@import url(http://fonts.googleapis.com/css?family=Lobster:18);


*{
    margin: 0;
    padding: 0;
}
body {
    display: flex;
    justify-content: center;
    background-image: linear-gradient(to bottom right, #008080,#000080);
    background-repeat: no-repeat;
    background-position:center;
    background-size: contain;
    min-height: 100vh;
    margin-top: 30px;
}
.topnav{
    background: linear-gradient(to bottom, #408000, #804000);
    display: flex;
    justify-content: space-between;
    position: fixed;
    z-index: 100;
    top:0;
    width: 100%;
    height: 50px;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    color: #f2f2f2;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #ddd;
    color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
    background-color: #4CAF50;
    color: white;
    font-family: lobster;
    font-size: 18;
}
.left{
    display: flex;
    justify-content: center;
}
.right{
    display: flex;
    justify-content: end;
}
.logout{
    margin-top: 10px;
    border-radius: 50%;
    height: 50%;
}

.bottomnav{
    padding:20px;
}
.form-box{
    display: flex;
    justify-content: start;
    width: 95%;
    height: 100vh;
    position: center;
    margin: 6%;
    background: #fff;
    border-radius: 5%;
}

/* Style the tab */
.tabs {
    display: flex;
    padding: 0;
    height: 10%;
    margin: 30px 0 0 30px;
    overflow: hidden;
    border: 2px solid #ccc;
    background-color: #f1f1f1;
}

.tab button {
  background-color: inherit;
  box-shadow: 3px #ccc
  float: left;
  border: 0.5px solid black;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

.tab button:hover {
  background-color: #ddd;
}
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: flex;
    justify-content: center;
    padding: 6px 12px;
    border: 1px solid #ccc;
}
.tabcontent {
  animation: fadeEffect 1s; /* Fading effect takes 1 second */
}

/* Go from zero to full opacity */
@keyframes fadeEffect {
  from {opacity: 0;}
  to {opacity: 1;}
}
.cells{
    margin: 120px 0 0px -115px;
    padding: 10px;
    justify-content: space-between;

}
.subject .courseCode .courseName .diffRating{
    text-decoration: underline;


}
.subjectVal .codeVal .courseVal .diffVal{
    width: 100%;
    border-bottom: .5px solid gray;
    margin: 10px;

}
/*table {
    table-layout: auto;
    table-layout: fixed;
    border-radius: 5% 5% 0 0;
    width: 95%;
    height: 95%;
    margin: 6% auto;
    position: fixed;
    z-index: 100;
}

th, td {
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #ddd;
    height: 90%;
    text-align: left;
}
tr:hover {
background-color: #f5f5f5;
}
*/
